body {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    grid-column: 2/4;
    grid-row: 1;
    text-align: center;
    margin: 0;
    display: grid;
    align-items: center;
}

h2 {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    grid-template-rows: 5vh 6vh repeat(6, 11vh) 4vh;
    gap: 2vh;
    height: 100vh;
}

.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

#chatform {
    grid-column: 2/4;
    grid-row: 9;
}

#chatbox {
    caret-color: transparent;
    border-radius: 0.33rem;
    border: 1px solid black;
    height: 2.6rem;
    font-size: 16px;
    width: 100%;
}

#chatbox:focus {
    outline: none;
}

.main {
    grid-column: 2/3;
    grid-row: 3/9;
}

.preview {
    grid-column: 3/4;
}

.one {
    grid-row: 3/6;
}

.two {
    grid-row: 6/9;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    grid-column: 2/4;
    grid-row: 2;
}